name: Ruby

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby: ['3.1.2', '3.0.4', '2.7.6']
    steps:
    - name: $ git clone する
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Ruby をセットアップする
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: RuboCop を実行する
      run: bundle exec rubocop
    - name: Run the default task
      run: bundle exec rake
    - name: RSpec を実行する
      run: bundle exec rspec
